<header class="menu-container">
  <div class="logo-box">
    <a asp-area="" asp-controller="Home" asp-action="Index">
      <img src="~/img/logo.svg" alt="Logo Micro Fisioterapia" />
    </a>
  </div>
  <nav class="nav-links">
    <div class="nav-link"><a asp-area="" asp-controller="Home" asp-action="Index">Início</a></div>
    <div class="nav-link"><a asp-area="" asp-controller="Agenda" asp-action="Index">Agenda</a></div>
  </nav>
  <a href="#" id="authAction" class="login-btn">Login</a>
</header>
